/* work sans font imported from google font */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:wght@400;500;600;700;800&display=swap");

/****************** global css ******************/
* {
    font-family: "Work Sans", sans-serif;
    margin: 0;
    padding: 0;
}

.btn-primary {
    margin-top: 10px;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    outline: 0;
    border-radius: 48px;
    padding: 15px 35px;
    background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
    cursor: pointer;
}

.title {
    font-size: 40px;
    font-weight: 700;
    background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
    color: transparent;
    -webkit-background-clip: text;
}

.description {
    color: #534c64;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    margin-top: 15px;
}

/************** navbar css **************/
.navbar {
    background: #fff;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 22px 100px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    gap: 10px;
    align-items: center;
}

.logo-title {
    font-size: 45px;
    font-weight: 700;
}

.logo-title span {
    background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
    color: transparent;
    -webkit-background-clip: text;
}

.menus ul {
    display: flex;
    gap: 30px;
    align-items: center;
}

.menus li {
    list-style-type: none;
    color: #3c354f;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.menus li:hover {
    color: #ff42a5;
    transition: 1s;
}

#follow {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 12px 20px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.1);
}

.fa-youtube {
    color: #f61c0d;
    font-size: 24px;
}

.fa-tiktok {
    color: #000000;
    text-shadow: 1px 1px #f00044, -1px -1px #08fff9;
}

/*********** banner css ***********/
.banner {
    padding: 10px 100px 0;
}

.banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.banner-sub-title {
    color: #0b0223;
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-title {
    font-size: 80px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
    color: transparent;
    -webkit-background-clip: text;
    margin: 10px 0;
}

.banner-text {
    color: #534c64;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 10px;
    margin-bottom: 5px;
}

.fa-circle-play,
.fa-download {
    color: #ff42a5;
    margin-right: 5px;
}

.fa-user {
    color: #0b0223;
    margin-right: 5px;
}

.btn-secondary {
    background: #4ec5f7;
    margin-left: 15px;
}

.banner-img {
    width: 50%;
}

.banner-img img {
    display: block;
    width: 95%;
}


/************ gamer css ************/
.gamer {
    background: linear-gradient(90deg,
            rgba(255, 66, 165, 0.03) 0%,
            rgba(255, 66, 165, 0.03) 100%);
    padding: 20px 100px;
}

.gamer-container {
    display: flex;
    gap: 20px;
    align-items: center;
}

.gamer-content {
    text-align: right;
    width: 50%;
}

.gamer-content h1 {
    margin-bottom: 20px;
}

.gamer-content .btn-primary {
    margin: 20px 0;
}

.purpose {
    color: #534c64;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
}

.unlesh {
    color: #534c64;
    font-size: 24px;
    font-weight: 700;
}

.gamer-img {
    width: 50%;
}

.gamer-img img {
    width: 100%;
}


/*********** online game css ***********/
.online-game {
    padding: 65px 100px;
}

.online-game-content {
    text-align: center;
}

.online-game-content h1 {
    margin-bottom: 10px;
}

.card {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.card p {
    color: #534c64;
    font-size: 14px;
    font-weight: 500;
    margin-top: 10px;
}

.card-item p {
    margin-top: 10px;
}

.img-item {
    position: relative;
}

.child {
    position: absolute;
    border: 3px solid #f948b2;
    width: 304px;
    height: 356px;
    border-radius: 16px;
    top: 0;
    left: 0;
    display: none;
}

.child i {
    position: absolute;
    top: 41%;
    left: 45%;
    font-size: 30px;
    color: #fff;
}

.child p {
    position: absolute;
    top: 50%;
    left: 35%;
    font-size: 15px;
    color: #f948b2;
    font-weight: 600;
}

.img-item:hover .child {
    display: block;
    transition: 1s;
}

.card-item img {
    width: 100%;
    filter: brightness(45%);
}

/************ game css ************/
.game {
    padding: 10px 100px 130px;
}

.game-container {
    display: flex;
    gap: 20px;
    align-items: center;
}

.game-content {
    width: 45%;
}

.game-text {
    width: 70%;
    text-align: right;
}

.game-text2 {
    width: 70%;
    text-align: left;
}

.game-img {
    width: 55%;
    position: relative;
}

.game-img img {
    width: 70%;
}

.game-child-img {
    position: absolute;
    bottom: -50px;
    left: -80px;
}

.game-child-img img {
    width: 50%;
}

.color-span {
    color: #0b0223;
}

.bottom-child-img {
    position: absolute;
    bottom: -50px;
    left: 430px;
}



/*********** category css ***********/
.category {
    margin-top: 50px;
    padding: 50px 100px;
    background: linear-gradient(90deg,
            rgba(255, 66, 165, 0.03) 0%,
            rgba(255, 66, 165, 0.03) 100%);
}

.category-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    justify-content: center;
}

.category-items {
    display: flex;
    gap: 10px;
    align-items: center;
    text-align: left;
    padding: 10px;
    color: #0b0223;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 50px;
    background: #fff;
}

.category-items:hover {
    color: #ff42a5;
    transition: 1s;
    border: 1px solid #ff42a5;
}

.category-items img {
    width: 40px;
    height: 40px;
}